@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Mini Phone book is an online portal where you can manage friends and family contacts easily and efficiently.</p>
