@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b><i>Mini Phone Book</i></b></h1>
    <p class="lead">Mini Phone Book is an online portal where you can keep track of your contacts! </p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<!--@Html.ActionLink("MAanage phone", "Index","People")-->

<<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Mini Phone BOOk gives you a powerful, patterns-based .Keep contacts
            details and other important information in one place with an address
            book from officeworks.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>
            Mini Phone Book is used to save contacts for use.It is and online portal
            from where you keep your contacts safley.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a  contact  of any company ,friends and orginization where you are doing job.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>